
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
padding: 0;
}

ul li {
  padding: 6px 10px;
  list-style: none;
  cursor: pointer;
}

ul li:active {
  color: white;
}

ul li:hover {
  background-color: white;
}

ul li svg {
  height: 20px !important ;
}

button {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  letter-spacing: 0.8px;
}

button:hover {
  background-color: white;
  border: 1.5px solid black;
  color: black;
}

button:active {
  color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* LAYOUT */

.container {
  width: 600px;
  margin: 0 auto;
}

.sidebar {
  width: 250px;
}

/* BUTTONS */

.kol-btn-primary {
  padding: 10px 15px;
}

/* COLLAPE SCROLL */

.track-vertical--blue {
  background-color: gray;
}

/* COLLAPSE */ 

.scrollable {
  margin-top: 10px;
  border-radius: 5px;

  
  background-color: #eee;
}


/* ICONS */

.empty-icon {
  display: inline-block;
  width: 24px;
  height: 20px;
}